<%- include('layout/header') %>
<div class="container">
    <!-- Display session messages -->
    <% if (message) { %>
    <div class="alert alert-success" role="alert">
        <%= message %>
    </div>
    <% } %>
    <div class="login-root">
        <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
          <div class="loginbackground box-background--white padding-top--64">
            <div class="loginbackground-gridContainer">
              <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
                <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
                </div>
              </div>
              <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
                <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
              </div>
              <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
                <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
              </div>
              <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
                <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
              </div>
              <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
                <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
              </div>
              <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
                <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
              </div>
              <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
                <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
              </div>
              <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
                <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
              </div>
              <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
                <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
              </div>
            </div>
          </div>
          <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
              <h1>Edit Industry (<%= industry.title %> )</h1>
            </div>
            <div class="formbg-outer">
              <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                  
                  <form id="stripe-login" method="post" action="/add" enctype="multipart/form-data">
                    <div class="field padding-bottom--24 col-md-12">
                        <label for="inputTitle4" class="form-label">Title</label>
                        <input type="text"  value="<%= industry.title %>" name="title" class="form-control" id="inputTitle4">
                    </div>
                    <div class="field padding-bottom--24 col-md-12">
                        <label for="inputIcon4" class="form-label">Icon</label>
                        <input type="file" name="icon" class="form-control" id="inputIcon4">
                        <img src="<%= iconUrl %>" alt="Icon Image">
                    </div>
                    <div class="field padding-bottom--24 col-md-12">
                        <label for="inputImage" class="form-label">Image</label>
                        <input type="file" name="image" class="form-control" id="inputImage">
                        <img src="<%= imageUrl %>" alt="Main Image">
                    </div>
                    <div class="col-md-12">
                        <div class="form-check">
                            <input class="form-check-input" value="<%= industry.active %>" name="active" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Active
                            </label>
                        </div>
                    </div>
                     
                    <div class="field padding-bottom--24">
                      <input type="submit" value="Update" name="submit" class="btn-warning" value="Add">
                    </div>
                     
                  </form>
                </div>
              </div>
               
            </div>
          </div>
        </div>
      </div>
    
</div>

<%- include('layout/footer') %>
